@font-face {
  font-family: "Optimamodoki";
  src: url("fonts/Optimamodoki-rgABO.ttf");
}

.ref-cell {
  padding-bottom: calc(0.5 * var(--margin-page));
  background-color: var(--color-light);
  border: none;
  border-radius: calc(0.4 * var(--margin-page));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ref-cell:hover {
  background-color: var(--color-accent-light);
  opacity: 65%;
}

.ref-cell:active {
  background-color: var(--color-accent-light);
  opacity: 100%;
}

.braille {
  color: var(--color-dark);
  font-family: "Optimamodoki", sans-serif;
  border-radius: calc(0.2 * var(--margin-page));
  font-size: 2rem;
}

.english {
  color: var(--color-accent-light);
  font-size: 0.3rem;
}

@media only screen and (min-width: 660px) {
  .braille {
    font-size: 3rem;
  }
  .english {
    font-size: 0.6rem;
  }
}
